<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(widget) -%>">
  <span class='title'>
    <%= widget.name %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.widgets_widget_path(widget),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_widgets_admin_widget_path(widget),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.widgets_admin_widget_path(widget),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => widget.name),
        :method => :delete %>
  </span>
</li>
